<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
  <%= f.label :email, class: "sr-only" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", required: true  %>
  <%= f.label :password, class: "sr-only" %>
  <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password", required: true %>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %>
        Remeber Me
      </label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
