<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%
      auth = {
        isLoggedIn: user_signed_in?,
        currentUser: current_user,
        isAdmin: current_user ? current_user.admin? : false,
      }
    %>
    <%= react_component("layouts/Header", { auth: auth, cart: @cart }, {prerender: true}) %>
    <%= yield %>
    <%= react_component("layouts/Footer", {}, {prerender: true}) %>
  </body>
</html>
